<div class='container'>
<h1>Stupid Coaching</h1>
<h2><strong>Question:<%= @question %></strong></h2>
<h3>Answer:<%= @answer %></h3>
</div>
<h2></h2>
<div class='ddb'>
<%= link_to "ask another question?", ask_path %>
</div>
